.saurya{
    border-radius: 30px;
}
.panu{
    height: 150px;
    width: 150px;
    border-radius: 100%;
}
.panu1{
    height: 500px;
}
.panu2{
    background-color: #1A202C;
}
.panu3{
    background-color: #EDF2F7;
}